<div class="connect-wallet-btn">
    <a href="https://community.radiant.capital/discourse-siwe/auth?reconnect=true" id="connect-wallet-btn" class="btn btn-icon-text">
        Connect Wallet
    </a>
</div>
